/*
* @Author: HP
* @Date:   2019-12-07 19:37:13
* @Last Modified by:   HP
* @Last Modified time: 2019-12-11 22:15:07
*/
*{
	padding: 0;
	margin: 0;
}
.head{
	background-color: #ccc;
}
.title{
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	margin: 10px auto;
	width: 1200px;
}
.title .img{
	margin-left: 140px;
	float: left;
}
.title .move{
	float: left;
	width: 1042px;
	height: 40px;
	margin-left: 0px;
	position: relative;
	overflow: hidden;
}
.title .two{
	color: red;
	position: absolute;
	right: -110px;
}
ul,li{
	list-style: none;
	text-align: center;
}
.box{
	width: 1200px;
	height: 397px;
	position: relative;
	/* 相对正常位置定位 ，有了定位属性*/
	overflow: hidden;
	margin: 10px auto;
}
.slider{
	width:8400px;
	left: -1200px;
	/* 绝对定位 ，以有定位属性 的最近的父元素为参照*/
	position: absolute;
	background-color: lightpink;
	
}
.slider div{
	float: left;
	width: 1200px;
	overflow: hidden;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	color: #fff;
	top: 175px;
	cursor: pointer;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0  auto;
	border-radius: 50%;

}
.nav .active{
	background: red;
} 